<% introduction title: false do %>
  <h1>
    <%= image_tag 'clan-crest.png', alt: 'The Mathieson Family Crest', class: 'img-responsive center-block', srcset: 'clan-crest.png 1x, clan-crest@2x.png 2x, clan-crest@3x.png 3x' %><br>
    The Mathieson Family
  </h1>
<% end %>
